/*--------------------------------- Imports ----------------------------------*/
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro|Special+Elite);

/*------------------------------- Definitions --------------------------------*/
:root {
    --steel  : #0a1612;
    --denim  : #1A2930;
    --red    : #cd2f27;
    --yellow : #f7ce3e;
    --screen : #c5c1c0;
    --special-text : 100%/1.5em "Special Elite";
    --body-text : 200 100%/1.5em "Source Sans Pro";
    --horizontal-padding : 5vw;
    --header-bar-height: 102px;
    --footer-bar-height: 42px;
    --margin-top: 3vh;
    --margin-bottom: calc(5vh + var(--footer-bar-height));
    --vertical-margin : calc(var(--margin-top) + var(--margin-bottom));
    --column-1-width : 60vw;
    --column-2-width : calc(90vw - var(--column-1-width));
    --grid-gap : 10px;
    --button-width : 100px;
    --form-height : 37px;
    font: var(--body-text);
}

/*---------------------------------- Global ----------------------------------*/
h1 {
  font: var(--special-text);
  font-size: calc(18px + 20 * ((80vw) / 680));
  color: var(--yellow);
  line-height: 1;
}
h2 {
  color: var(--red);
}
h3 {
  margin-top: -4vh;
  font: var(--body-text);
  color: var(--screen);
  font-size: 12pt;
}
h1, h2, h3 {
  text-align: center;
  width: 80%;
  margin-left: 10%;
}
img {
  display:block;
  margin-left: auto;
  margin-right: auto;
  max-width: 85%;
  height: auto;
}
body {
  color: var(--screen);
  text-align: center;
  background-image: url('../assets/background.png');
  background: linear-gradient(rgba(10,22,18,1)
                            , rgba(10,22,18,0.5)
                            , rgba(5,5,5,0)
                            , rgba(5,5,5,0))
                            , url('../assets/background.png') repeat center;
  background-attachment: fixed;
  margin: 0;
  padding-bottom: var(--bottom-bar-height);
  height: 100%;
 }
 input[type=submit] {
   font-family: var(--body-text);
   font-size: inherit;
   color: white;
   background: var(--red);
   border-radius: 5px;
   padding-top: 5px;
   padding-bottom: 5px;
   margin-bottom: 2px;
   border: none;
 }


/*------------------- Flexbox options to centre vertically -------------------*/
.parent {
    display: flex;
    flex-direction: column;
    margin-top: 2vh;
    min-height: calc(98vh - var(--footer-bar-height) - var(--header-bar-height) - 4px);
    position: relative;
}
.parent > .child {
    vertical-align: middle;
}

/*----------------- Assigns position of login/logout buttons -----------------*/
.user {
  position: absolute;
  top: calc(-2vh - 100px);
  right: 1vw;
}
.login-button {
  margin-top: 4px;
}
.profileButton {
margin-top: 5px;
}
.profileButton a {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  color: white;
  background-color: var(--red);
  padding: 5px 10px;
  border-radius: 5px;
  text-decoration: none;
}

/*--------------------- Header and footer bar formatting ---------------------*/
header, header-index {
  position: absolute;
  margin-left: -8px;
  margin-top: -13px;
  width: 100%;
  top: 0;
  background-color: var(--steel);
  height: 46px;
  padding: var(--header-bar-height);
}
#headerBar, #footerBar {
  background: var(--steel);
  width: 100%;
  bottom: 0;
}
#headerBar {
  text-align: left;
  top: 0;
  border-bottom: 2px solid var(--denim);
  height: var(--header-bar-height);
  background-image: url('../assets/decal.png');
  background-repeat: no-repeat;
  background-position: right;
  background-size: 80vw;
}
#footerBar {
  height: var(--footer-bar-height);
  bottom: 0;
  border-top: 2px solid var(--denim);
}
footer {
  font: var(--special-text);
}
.svglogo {
  height: 80px;
  margin-left: 5px;
  margin-top: 5px;
}
.headerlogo {
  height: 60px;
  margin-left: 70px;
  margin-top: 20px;
}
#nagivation a {
  line-height: 2.5;
  margin: 0 0;
  text-align: right;
  color: var(--red);
  right: 15px;
  bottom: 5px;
}
.homeLink {
  font: var(--special-text);
  font-weight: 700;
  font-size: 14pt;
  margin-left: 10px;
  position: absolute;
}
#suggested-table {

}

/*----------------------------- Index formatting -----------------------------*/
.indexContainer {
  height: 100%;
  width: 90vw;
  margin-left: 5vw;
  display: grid;
  grid-template-columns: 1fr, 1fr;
  grid-gap: var(--grid-gap);
}
.intro .indextable {
  display: flex;
  align-items: center;
}
.intro {
  width: calc(65vw - var(--grid-gap));
  grid-column: 1/2;
  position: relative;
}
.indextable {
  width: calc(25vw - var(--grid-gap));
  grid-column: 2/3;
  position: relative;
}
.timestamp {
  position:relative;
}
table.scroll tbody,
table.scroll thead { display: block; }
table.scroll tbody {
    height: calc(80vh - var(--header-bar-height) - var(--footer-bar-height));
    overflow-y: hidden;
    overflow-x: hidden;
}
#topicstitle {
  font-size: 18pt;
  padding-right: 20px;
}
#topics td {
  white-space: nowrap;
}
#topicssearch {
  width: 100%;
}
#topicssearch input {
  width: 100%;
  border: none;
  border-radius: 5px;
  padding: 5px;
  padding-bottom: 7px;
}
#subject-table {
  margin: auto;
  margin-top: 20px;
  width: 100%;
  background: linear-gradient(rgba(197,193,192,0.1), rgba(197,193,192,0.1));
  border-radius: 5px;
}
#subject-table td {
  width: 100%;
}
#subject-table th {
  color: var(--yellow);
}
#signinlinks a {
  text-decoration: none;
  color: white;
  display: flex;
  align-self: flex-start;
}

/*------------------------------ Chat formatting -----------------------------*/
.container {
  padding-top: 5vh;
  padding-bottom: 5vh;
  height: 100%;
  width: 90vw;
  display: grid;
  grid-template-columns: 1fr, 1fr;
  grid-template-rows: 1fr, 1fr;
  grid-gap: var(--grid-gap);
  margin: 0 auto;
  align-items: stretch;
}

.chatbox, .textinput {
  width: var(--column-1-width);
  display: flex;
}
.scratchpad {
  width: calc(var(--column-2-width) - var(--grid-gap));
  display: flex;
}


/* chat contents */
.chatbox {
  grid-column: 1/2;
  grid-row: 1/2;
  overflow-y: scroll;
  background: linear-gradient(rgba(197,193,192,0.15), rgba(197,193,192,0.1));
  overflow-x: hidden;
  overflow-wrap: break-word;
  height: calc(90vh - var(--vertical-margin) - var(--grid-gap) - var(--form-height) - var(--footer-bar-height));
  border-radius: 5px;
}
#messages {
  list-style-type: none;
  text-align: left;
  margin-right: 5%;
}

/* input */
.textinput {
  grid-column: 1/2;
  grid-row: 2/3;
  height: var(--form-height);
}
.chatroom form input, .chatroom form button {
  font: var(--body-text);
  border: none;
}
.chatroom form input {
  width: calc(var(--column-1-width) - var(--button-width));
  object-fit: contain;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.chatroom form button {
  min-width: calc(var(--button-width) - 2px);
  color: white;
  background: var(--red);
  object-fit: contain;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

/* scratchpad */
.scratchpad {
  grid-column: 2/3;
  grid-row: 1/3;
}
.chatroom textarea {
  border: none;
  resize: none;
  padding: 5%;
  box-sizing: border-box;
  color: var(--screen);
  background: linear-gradient(rgba(26,41,48,0.5), rgba(26,41,48,0.4));
  border: 2px solid var(--denim);
  border-radius: 5px;
  width:100%;
  height:100%;
}

/*--------------------------------- Sign up ----------------------------------*/
.signupform {
  text-align: left;
}
td {
  width: 10vw;
}
table { margin: auto; }
