<% include header.ejs %>
<div class = "parent">
    <h1>About this site</h1>
    <ul>
      <li>This is a site for arguing with strangers on the internet. Don't take it too seriously</li>
      <li>GABEN IS GOD</li>
      <li>I'm rather bored</li>
      <li>We are not legally liable for any rage this site may induce</li>
      <li>Dogs == Cats</li>
      <li>About sections are harder than expected</li>
      <li>Peace</li>
    </ul>
</div>
<% include footer.ejs %>
