<% include header.ejs %>
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
    <script type="text/javascript" src="scripts/chat-client.js"></script>

  <body class="chatroom">
    <div class="container">
      <div class="scratchpad" id="scratchpad">
        <textarea width=100% height=100% name="comment" form="usrform">Make notes here...</textarea>
      </div>

      <div class="chatbox">
        <ul id="messages"></ul>
      </div>

      <div class="textinput">
        <form action="">
          <input id="m" autocomplete="off" /><button>Send</button>
        </form>
      </div>
    </div>
  </body>

<% include footer.ejs %>
