<div id = "headerBar", class = "bar">
  <a href="/" class = "homeLink">
    <img src="assets/fightme.svg" class="svglogo">
  </a>
  <a href="/" class = "homeLink">
    <img src ="assets/textlogo.png" class="headerlogo">
  </a>
</div>
