<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-GB" xml:lang="en-GB">
<head>
  <meta charset="utf-8">
  <meta name="description" content="Webtech coursework, real-time argument site">
  <meta name="author" content="Tom Vaughan and Lizz Tebbutt">
  <link rel="stylesheet" type="text/css" href="styles/styles.css" />
  <link rel="icon" href="assets/favicon.ico">
  <script src="/socket.io/socket.io.js"></script>
  <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
  <script type="text/javascript" src="scripts/subject-table.js"></script>
  <title>fight.me</title>
</head>
<body>
