<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-GB" xml:lang="en-GB">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="Webtech coursework, real-time argument site">
    <meta name="author" content="Tom Vaughan and Lizz Tebbutt">
    <link rel="stylesheet" type="text/css" href="styles/styles.css" />
    <link rel="icon" href="assets/favicon.ico" />
    <title>fight.me</title>
    <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
    <script type="text/javascript">
    if ($.browser.msie  && parseInt($.browser.version) <= 8) {
        $('body').html('<span> This site does not support IE8 or below.</span>');
    }
    </script>
  </head>
  <body>
