<br>
<table id="topics">
  <td id="topicstitle">Current topics</td>
  <td id="topicssearch"><input type="text" id="subject-table-search" class="indextable" placeholder="Type to search"></td>
</table>

<table id="subject-table">
  <thead>
    <tr>
      <th><div class="">ID</div></th>
      <th><div class="">Subject</div></th>
      <th><div class="">Players</div></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>

<div id="subject-table-updated" class="timestamp"><p></p></div>
