<% include header-index.ejs %>
<% include header-bar.ejs %>
<script type="text/javascript">
  var session = <%- JSON.stringify(session) %>
</script>
<div class="parent">
  <div id = "frontpage" class="indexContainer child">
    <div class = "intro">
      <% if (message != "") { %>
        <h2><%= message %></h2>
      <% } %>
    
      <h1>Are you ready to tussle?</h1>
      <div id="total-users"><h2></h2></div>

      <% if (session && session.user) { %>
        <form name="subject-new" method="POST" action="join-chatroom">
          <input type="hidden" name="isNew" value="true">
          <% if (join != "true") { %>
            <input type="submit" value="New Subject">
          <% } %>
        </form>
        <% include logout.ejs %>
      <% } else { %>
        <% include login.ejs %>
        <h2>Log in to fight your case!</h2>
      <% } %>
      <% if (join == "true") { %>
        <% include join-chatroom.ejs %>
      <% } %>
      <% include index-table.ejs %>
    </div>

    <div class="indextable">
      <% include index-suggested.ejs %>
    </div>
  </div>
</div>


<% include footer.ejs %>
