<form action="chatroom" method="POST" name="chatroom-form">
  <% if (isNew == "true") { %>
  Subject:</br><input type="text" name="subject"></br>
  <% } else { %>
  <input type="hidden" name="subject" value="<%= subject %>">
  <% } %>
  Nickname:</br><input type="text" name="alias"></br></br>
  <input type="submit" name="chatroom-btn" value="Join Chatroom">
</form>
