<div name="login-box" class = "user">
  <form action="login" method="POST" name="login-form">
    <table>
      <tr>
        <td>
          <input type="text" name="username" placeholder="Username"><br>
          <input type="password" name="password" placeholder="Password"><br>
          <input type="submit" name="login-submit" value="Login" class="login-button"><br>
        </td>
        <td id="signinlinks">
          <a href="signup" class="profileButton">Create an account</a><br>
          <a href="/password-reset">Reset password</a>
        </td>
      </tr>
    </table>
  </form>
</div>
