<% include header.ejs %>
<% include header-bar.ejs %>

<div class="parent">
  <% if (message != "") { %>
    <h2><%= message %></h2>
  <% } %>
  <h2>Password reset</h2>
  <h3>Please enter the email address linked to your account to receive a password reset link</h3>
  <form name="password-reset-form" method="POST" action="password-reset">
    Email:<input type="email" name="email">
    <input type="submit" name="submit" value="Reset">
  </form>
</div>

<% include footer.ejs %>
