<% include header.ejs %>
<% include header-bar.ejs %>
<div class="parent">
  <div class="profile child">
    <h2>Profile</h2>
    <table>
      <td><b>ID:</b> <%= id %></td>
      <td><b>Username:</b> <%= user %></td>
      <td><b>Email:</b> <%= email %></td>
      <td><b>Score:</b> <%= score %></td>
    </table>

    <h2>Update details</h2>
    <p>If you don't want to update a field, leave it blank</p>

    <form name="profile-update-form", method="POST" action="profile-update">
      <table>
        <tr><td><b>New Username:</b></td><td><input type="text" name="new-user" maxlength="254" minlength="1"></td></tr>
        <tr><td><b>New Email:</b></td><td> <input type="email" name="new-email" maxlength="254" minlength="1"></td></tr>
        <tr><td><b>New Password:</b></td><td> <input type="password" name="new-password" minlength="4"></td></tr>
        <tr><td><b>Confirm Password:</b></td><td> <input type="password" name="new-conf-password" minlength="4"></td></tr>
      </table>
      <input type="submit" name="submit" value="Update details">
    </form>

    <h2>Delete account</h2>
    <p>Please enter your password again to confirm deletion</p>
    <form name="delete-account-form" method="POST" action="delete-account">
      Password:<input type="password" name="password">
      <input type="submit" name="submit" value="Delete account!">
    </form>
  </div>
</div>

<% include footer.ejs %>
