<% include header.ejs %>

  <div class = "parent">
    <h1>Register an account to start arguing!</h1>

    <form action="signup" method="POST" name="signup-form">
      <table class="signupform">
        <tr>
          <td>Username:</td> <td><input type="text" name="user" maxlength="254" minlength="1"></td>
        </tr>
        <tr>
          <td>Email:</td> <td><input type="email" name="email" maxlength="254" minlength="1"></td>
        </tr>
        <tr>
          <td>Password:</td><td><input type="password" name="password" minlength="4"></br></td>
        </tr>
        <tr>
          <td>Confirm Password:</td><td><input type="password" name="passwordConfirm" minlength="4"></td>
        </tr>
      </table>
      <input type="submit" name="submit" value="Register">
    </form>
    <% if (message !== "") { %>
    <h2><%= message %></h2>
    <% } %>
  </div>

<% include footer.ejs %>
